@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700");
a{text-decoration:none}
.ui-page{font-family:"Roboto",sans-serif;font-weight:300}
.float-left .card {
    float:left;
    width:300px;  
    height:270px;
}

.multi-column {
    columns:300px 3;
    -webkit-columns:300px 3;
}

.card {
    background:#FFF;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:0px;
    margin:15px;
    overflow:hidden;
}

.card h3 {
    margin:0px;
    padding:10px;
    padding-bottom:0px;	
}

.card p {
    margin-top: 9px;
    padding: 0 10px;
}

.card a{
	text-decoration:none;
	color: #000000;	
}

.card-image {
    width:100%;
    height:200px;
    padding:0px;
    margin:0px;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    overflow:hidden;
}

.card-image .banner {
    height:50px;
    width:50px;
    top:0px;
    right:0px;
    background-position:top right;
    background-repeat:no-repeat;
    background-image:url('../images/new.png');
    position:absolute;
}

.card-image h1, 
.card-image h2, 
.card-image h3, 
.card-image h4, 
.card-image h5, 
.card-image h6 {
    position:absolute;
    bottom:0px;
    width:100%;
    color:white;
    background:rgba(0,0,0,0.65);
    margin:0px;
    padding:6px;
    border:none;
	font-weight: 300;
}

.rightColumn,
.leftColumn {
    display:inline-block;
    width:49%;
    vertical-align:top;
}

.column {
    display:inline-block;
    vertical-align:top;
}

.stationclass{
	width: 100%;
	min-height: 100%;
}

.card-image +p+div{
	padding:10px;
}