/* A bit custom styling */
/* Link to the Google webfont is in the head */
.my-page .ui-title, .my-page .ui-li-aside {	
	font-weight: 400;
}
.my-page .ui-header {
	color: #990099;
}
.my-page .ui-footer {
	color: #666;
}
.my-page .ui-li-desc {
	color: #c0c0c0;
}
.my-page .ui-li-aside {
	color: #990099;
}
.my-page .ui-listview .ui-li.ui-btn {
	margin: 0px;
	padding: 0px;
	background-image: none;
	border-color: #222;
}

.backgroundimg1{
	background-image:url("images/backgrounds/1.jpg");
	background-size: 100% 100%;
}

.backgroundimg2{
	background-image:url("images/backgrounds/2.jpg");
	background-size: 100% 100%;
}
.backgroundimg3{
	background-image:url("images/backgrounds/3.jpg");
	background-size: 100% 100%;
}

.backgroundimg4{
	background-image:url("images/backgrounds/4.jpg");
	background-size: 100% 100%;
}

.backgroundimg5{
	background-image:url("images/backgrounds/5.jpg");
	background-size: 100% 100%;
}

.backgroundimg6{
	background-image:url("images/backgrounds/6.jpg");
	background-size: 100% 100%;
}

.backgroundimg7{
	background-image:url("images/backgrounds/7.jpg");
	background-size: 100% 100%;
}
.backgroundimg8{
	background-image:url("images/backgrounds/8.jpg");
	background-size: 100% 100%;
}

.backgroundimg9{
	background-image:url("images/backgrounds/9.jpg");
	background-size: 100% 100%;
}

.backgroundimg10{
	background-image:url("images/backgrounds/10.jpg");
	background-size: 100% 100%;
}

.backgroundimg11{
	background-image:url("images/backgrounds/11.jpg");
	background-size: 100% 100%;
}

.backgroundimg12{
	background-image:url("images/backgrounds/12.jpg");
	background-size: 100% 100%;
}

.backgroundimg13{
	background-image:url("images/backgrounds/13.jpg");
	background-size: 100% 100%;
}

.backimg{
	background-image:url("images/3.jpg");
	background-size: 100% 100%;
}

.blur{
	background-color: #FFFFFF;
	opacity: 0;
}

.mytitle{
	height: 10px;
	color: #FFF;
	text-align:center;
	font-size: 0.8em;
	margin-bottom: 15px;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: #FFF;
    background-size: cover !important;
}

.searchbox{
	padding: 12px 12px 0;
}

.searchbox .ui-block-a{
	width: 96%;
}

.searchbox .ui-block-b{
	width: 2%;
}

	.my-page .ui-content {
		padding: 9px;
	}
	.my-page .ui-listview .ui-li.ui-btn {
		 border: 1px solid #C4C4C4;
		float: left;
		height: 80px;
		margin: 9px 1.5%;
		width: 29.93%;
	}
	/* If you don't want a border at all, just set "border: none;" here to negate the semi white top border */
	.my-page .ui-listview .ui-li.ui-btn-inner {
		border: inherit;
		border-width: 1px;
		margin: -1px;
	}
	.my-page .ui-listview .ui-btn-inner,
	.my-page .ui-listview .ui-btn-text,
	.my-page .ui-listview .ui-link-inherit,
	.my-page .ui-listview .ui-li-thumb {
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;
	}
	.my-page .ui-listview .ui-link-inherit {
		padding: 0 !important;
		position: relative;
	}
	/* Inherit the border-radius from the UL that has class .ui-corner-all in case of an inset listview. */
	.my-page .ui-listview .ui-li,
	.my-page .ui-listview .ui-btn-text,
	.my-page .ui-listview .ui-link-inherit,
	.my-page .ui-listview .ui-li-thumb {
		-webkit-border-radius: inherit;
		border-radius: inherit;
		-moz-border-radius: inherit;
	}
	.my-page .ui-listview .ui-li-thumb {
		height: 100%; /* To keep aspect ratio. */
		max-width: 100%;
		max-height: none;
		margin: 0;
		left: 0;
		z-index: -1;
	}
	/* Hide the icon */
	.my-page .ui-listview .ui-icon {
		display: none;
	}
	/* Make text wrap. */
	.my-page .ui-listview .ui-li-heading,
	.my-page .ui-listview .ui-li-desc {
		white-space: normal;
		overflow: visible;
		position: absolute;
		left: 0;
		right: 0;
		color: #FFFFFF;
		font-size: 0.7em;
		font-family: Helvetica,Arial,sans-serif;
		font-weight:normal;
		text-align: center;
	}
	/* Text position */
	.my-page .ui-listview .ui-li-heading {
		margin: 0;
		padding: 20px;
		bottom: 50%;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
          -webkit-border-bottom-left-radius:: 12px;
          -webkit-border-bottom-right-radius:: 12px; 
        
          /* Firefox 1-3.6 */
          -moz-border-bottom-left-radius: 12px; 
          -moz-border-bottom-right-radius: 12px;
          
          /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
          border-bottom-left-radius: 12px; 
          border-bottom-right-radius: 12px;	 
		  /*font-family: Segoe UI;*/
	}
	.my-page .ui-listview .ui-li-desc {
		margin: 0;
		padding: 0 20px;
		min-height: 50%;
		bottom: 0;
		line-height: 1.5;
	}
	/* Semi transparent background and different position if there is a thumb */
	.my-page .ui-listview .ui-li-has-thumb .ui-li-heading,
	.my-page .ui-listview .ui-li-has-thumb .ui-li-desc {
		background: #111;
		background: rgba(0,0,0,.8);
		-webkit-background-clip: padding;
		background-clip: padding-box;
	}
	.my-page .ui-listview .ui-li-has-thumb .ui-li-heading {
		padding: 5px;
		bottom: 0%;
	}
	.my-page .ui-listview .ui-li-has-thumb .ui-li-desc {
		padding: 0 10px;
		min-height: 20%;
		-webkit-border-bottom-left-radius: inherit;
		border-bottom-left-radius: inherit;
		-webkit-border-bottom-right-radius: inherit;
		border-bottom-right-radius: inherit;
	}
	/* ui-li-aside has class .ui-li-desc as well so we have to override some things. */
	.my-page .ui-listview .ui-li-desc.ui-li-aside {
		padding: 2px 10px;
		width: auto;
		min-height: 0;
		top: 0;
		left: auto;
		bottom: auto;
		/* Custom styling. */
		color: #c0c0c0;
		background: #990099;
		background: rgba(153,0,153,.85);
		-webkit-border-top-right-radius: inherit;
		border-top-right-radius: inherit;
		-webkit-border-bottom-left-radius: inherit;
		border-bottom-left-radius: inherit;
		-webkit-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	/* If you want to add shadow, don't kill the focus style. */ 
	.my-page .ui-listview .ui-btn:not(.ui-focus) {
		-moz-box-shadow: 0px 0px 9px #111;
		-webkit-box-shadow: 0px 0px 9px #111;
		box-shadow: 0px 0px 9px #111;
	}
	/* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */
	.my-page .ui-listview .ui-btn:hover {
		-moz-box-shadow: 0px 0px 12px #387bbe;
		-webkit-box-shadow: 0px 0px 12px #387bbe;
		box-shadow: 0px 0px 12px #387bbe;
	}
	/* Animate focus and hover style, and resizing. */ 
	.my-page .ui-listview .ui-btn {
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		transition: all 500ms ease;	
	}

/* First breakpoint is 768px. 3 column layout. Tiles 250x250 pixels at the breakpoint. */
@media all and (min-width: 768px){
	.my-page .ui-content {
		padding: 9px;
	}
	.my-page .ui-listview .ui-li.ui-btn {
		float: left;
		width: 30.9333%; /* 33.3333% incl. 2 x 1.2% margin */
		height: 170px;
		margin: 9px 1.2%;
		border-width: 0; /* The 1px border would break the layout so we set it on .ui-btn-inner instead. */
	}
	/* If you don't want a border at all, just set "border: none;" here to negate the semi white top border */
	.my-page .ui-listview .ui-li.ui-btn-inner {
		border: inherit;
		border-width: 1px;
		margin: -1px;
	}
	.my-page .ui-listview .ui-btn-inner,
	.my-page .ui-listview .ui-btn-text,
	.my-page .ui-listview .ui-link-inherit,
	.my-page .ui-listview .ui-li-thumb {
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;
	}
	.my-page .ui-listview .ui-link-inherit {
		padding: 0 !important;
		position: relative;
	}
	/* Inherit the border-radius from the UL that has class .ui-corner-all in case of an inset listview. */
	.my-page .ui-listview .ui-li,
	.my-page .ui-listview .ui-btn-text,
	.my-page .ui-listview .ui-link-inherit,
	.my-page .ui-listview .ui-li-thumb {
		-webkit-border-radius: inherit;
		border-radius: inherit;
	}
	.my-page .ui-listview .ui-li-thumb {
		height: auto; /* To keep aspect ratio. */
		max-width: 100%;
		max-height: none;
		margin: 0;
		left: 0;
		z-index: -1;
	}
	/* Hide the icon */
	.my-page .ui-listview .ui-icon {
		display: none;
	}
	/* Make text wrap. */
	.my-page .ui-listview .ui-li-heading,
	.my-page .ui-listview .ui-li-desc {
		white-space: normal;
		overflow: visible;
		position: absolute;
		left: 0;
		right: 0;
	}
	/* Text position */
	.my-page .ui-listview .ui-li-heading {
		margin: 0;
		padding: 20px;
		bottom: 50%;
	}
	.my-page .ui-listview .ui-li-desc {
		margin: 0;
		padding: 0 20px;
		min-height: 50%;
		bottom: 0;
		line-height: 1.5;
	}
	/* Semi transparent background and different position if there is a thumb */
	.my-page .ui-listview .ui-li-has-thumb .ui-li-heading,
	.my-page .ui-listview .ui-li-has-thumb .ui-li-desc {
		background: #111;
		background: rgba(0,0,0,.8);
		-webkit-background-clip: padding;
		background-clip: padding-box;
	}
	.my-page .ui-listview .ui-li-has-thumb .ui-li-heading {
		padding: 10px;
		bottom: 0%;
		color: #FFFFFF;
		font-weight: normal;		
	}
	.my-page .ui-listview .ui-li-has-thumb .ui-li-desc {
		padding: 0 10px;
		min-height: 20%;
		-webkit-border-bottom-left-radius: inherit;
		border-bottom-left-radius: inherit;
		-webkit-border-bottom-right-radius: inherit;
		border-bottom-right-radius: inherit;
	}
	/* ui-li-aside has class .ui-li-desc as well so we have to override some things. */
	.my-page .ui-listview .ui-li-desc.ui-li-aside {
		padding: 2px 10px;
		width: auto;
		min-height: 0;
		top: 0;
		left: auto;
		bottom: auto;
		/* Custom styling. */
		color: #c0c0c0;
		background: #990099;
		background: rgba(153,0,153,.85);
		-webkit-border-top-right-radius: inherit;
		border-top-right-radius: inherit;
		-webkit-border-bottom-left-radius: inherit;
		border-bottom-left-radius: inherit;
		-webkit-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	/* If you want to add shadow, don't kill the focus style. */ 
	.my-page .ui-listview .ui-btn:not(.ui-focus) {
		-moz-box-shadow: 0px 0px 9px #111;
		-webkit-box-shadow: 0px 0px 9px #111;
		box-shadow: 0px 0px 9px #111;
	}
	/* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */
	.my-page .ui-listview .ui-btn:hover {
		-moz-box-shadow: 0px 0px 12px #387bbe;
		-webkit-box-shadow: 0px 0px 12px #387bbe;
		box-shadow: 0px 0px 12px #387bbe;
	}
	/* Animate focus and hover style, and resizing. */ 
	.my-page .ui-listview .ui-btn {
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		transition: all 500ms ease;	
	}
}
/* Second breakpoint. 4 column layout. Tiles will be 250x250 pixels again at the breakpoint. */
@media all and (min-width: 1020px){
	.my-page .ui-content {
		padding: 10px;
	}
	/* Set a max-width for the last breakpoint to prevent too much stretching on large screens.
	By setting the max-width equal to the breakpoint width minus padding we keep square tiles. */
	.my-page .ui-listview {
		max-width: 70%;
		margin: 0 auto;
	}
	/* Because of the 1000px max-width the width will always be 230px (and margin left/right 10px),
	but we stick to percentage values for demo purposes. */
	.my-page .ui-listview .ui-li.ui-btn {
		width: 23%;		
		margin: 10px 1%;
	}
	
	.my-page .ui-listview .ui-li-has-thumb .ui-li-heading {
		bottom: 0;
		color: #FFFFFF;
		font-weight: normal;
		padding: 10px;
	}
}

/* For this demo we used images with a size of 310x310 pixels. Just before the second breakpoint the images reach their max width: 1019px - 2 x 9px padding = 1001px x 30.9333% = ~310px */

/** Custom CSS **/
.home-content a, ul.home-content{
	text-decoration:none;
	color: #fff;
	outline: none;
	font-weight: normal;
	list-style:none;
	padding:12px;
	margin:0;
	font-size: 0.90em;
}

ul.home-content li {
	padding: 0 0px;
}

ul.home-content li a.main-nav {
	position: relative;
	font-size: 1em;
	/*font-family: Segoe UI;*/
}

ul.home-content li a.main-nav .arrow {
	position: absolute;
	right: 14px;
	top: 14px;
}

/*BUTTON STYLES*/
.home-content a.button {
	background-color: #1f1f1f;
	border: 1px solid #4a4a4a;
	text-transform: uppercase;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
}

.home-content a.main-nav {
	padding: 0;
	display: block;
	margin: 0 0 6px;
	width: auto;
	padding: 14px 16px;
	color: #fff !important;
}

.home-content .ui-link{
	font-weight: normal;
}

.mystations .ui-li-thumb, .ui-listview .ui-li-icon {
    left: 1px ;
    max-height: 80px;  
	max-width: 106px;
    position: absolute;
    top: 0;
    width: 100%;
	min-height: 99%;
}

.mystations .ui-li-heading{
	padding-left: 20px;
	/*font-family: Segoe UI;*/    
	font-size: 1.1em;
}

.mystations .ui-li-desc{
	padding-left: 20px;
}

.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    display:none;
    position: fixed;
    z-index:100;
}

.ui-loading .ui-loader-background {
    display:block;
}

.fillertext {
    margin:0; padding:10px;
	/*font-family: Segoe UI;*/    
	font-size: 1em;
}

.fillertextoverride{
    padding:15px;
}

.ui-popup-screen.in{
    opacity: 0.9;
}

.home-button {
    background: url(images/home1.png) 50% 50% no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    margin-top: -2px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
	background-color: transparent !important;
	border: none;
    border-radius: 0;		
}

.home-button .ui-btn-inner{
	border: 0px;
}

.back-button {
	background: url(images/back1.png) 50% 50% no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    margin-top: -2px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
	background-color: transparent !important;
	border: none;
    border-radius: 0;	
}

.back-button .ui-btn-inner{
	border: 0px;
}

.logout-button {
    background: url(images/logout.png) 50% 50% no-repeat;
    background-size: 26px 22px;
    width: 30px;
    height: 30px;
    margin-top: -2px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
	background-color: transparent !important;
	border: none;
    border-radius: 0;
	padding-right: 8px;
}

.logout-button .ui-btn-inner{
	border: 0px;
}

.errmsg{
    margin: 10px;
}

.nav-glyphish #travellerphotosico .ui-icon {
background: url('images/gallery.png') 50% 50% no-repeat;
background-size: 24px 22px;
}

.nav-glyphish #capture .ui-icon {
background: url('images/capture.png') 50% 50% no-repeat;
background-size: 24px 22px;
}

.nav-glyphish #uploadphoto .ui-icon {
background: url('images/upload.png') 50% 50% no-repeat;
background-size: 24px 22px;
}

.nav-glyphish .ui-btn .ui-icon {
	width: 30px!important;
	height: 30px!important;
	margin-left: -15px !important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}

/** CSS For Plan By Calendar Month **/

.bkg{
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(30,87,153,1) 44%, rgba(32,124,202,1) 63%, rgba(41,137,216,1) 72%, rgba(32,124,202,1) 82%, rgba(41,137,216,1) 91%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(44%,rgba(30,87,153,1)), color-stop(63%,rgba(32,124,202,1)), color-stop(72%,rgba(41,137,216,1)), color-stop(82%,rgba(32,124,202,1)), color-stop(91%,rgba(41,137,216,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(30,87,153,1) 44%,rgba(32,124,202,1) 63%,rgba(41,137,216,1) 72%,rgba(32,124,202,1) 82%,rgba(41,137,216,1) 91%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(30,87,153,1) 44%,rgba(32,124,202,1) 63%,rgba(41,137,216,1) 72%,rgba(32,124,202,1) 82%,rgba(41,137,216,1) 91%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(30,87,153,1) 44%,rgba(32,124,202,1) 63%,rgba(41,137,216,1) 72%,rgba(32,124,202,1) 82%,rgba(41,137,216,1) 91%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(30,87,153,1) 44%,rgba(32,124,202,1) 63%,rgba(41,137,216,1) 72%,rgba(32,124,202,1) 82%,rgba(41,137,216,1) 91%,rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */	
}

.bkgsup{
	width: 100%; 
	height: 100px;	
}

.listdivider{
	background-color:#000; 
	width:100%; 
	height:10px;
	opacity:0.2;
}

.listcontent{
	font-weight:normal; 
	/*font-family: Segoe UI; */
	padding-top: 20px;
	padding-left: 10px; 
	position: absolute; 
	color:white; 
	font-size: 1em; 
	padding-right: 5px;
	text-shadow: none;
}

.nopadding{
	padding: 0px;
}

.nounderline{
	text-decoration:none;
}

.nopaddcontent{
	padding: 0px !important;
}

.leftmenuitem{
	height: 70px; 
	width: 90%; 
	float: left; 
	border-radius: 0px 25px 25px 0px; 
	-moz-border-radius: 0px 25px 25px 0px; 
	-webkit-border-radius: 0px 25px 25px 0px; 
	margin-top: 20px;
}

.rightmenuitem{
	height: 70px; 
	width: 90%; 
	float: right; 
	border-radius: 25px 0px 0px 25px; 
	-moz-border-radius: 25px 0px 0px 25px; 
	-webkit-border-radius: 25px 0px 0px 25px; 
	margin-top: 20px;
}

.menufonts{
	color: #DDD; 
	text-shadow: none; 
	margin: 25px 0 0 20px;
	font-weight: normal;
}

.nostyle{
	text-decoration:none;	
}

.clear{
	clear: all;
}

.Color-Teal {background: #008299 }

.Color-Green {background: #008A00 }

.Color-Red {background: #AC193D }

.Color-Orange {background: #D24726 }

.Color-Blue{background: #203657}


<!-- CSS For Plan by Region -->
/******* DEMDOUS *******/
div.demdous{margin:0 auto; width:860px; position:relative;}
div.controller{height:720px;position:relative;margin:0px 0px 30px 0px;float:left;clear:both; width:100%;}

/******** MENU ********/
ul.demdous-menu{float:left;margin:0px;padding:0px; list-style-type:none;height:auto; width:100%;} 
ul.demdous-menu li{text-shadow:none; z-index:1; height:100px;cursor:pointer;position:absolute;text-align:left; width:100%;margin:0;padding:0;background:#203657;}
ul.demdous-menu li div{ padding:10px 0 0 8px; height:90px; margin:0 0 0 28px;}
ul.demdous-menu li h3{ font-size:15px; /*font-family: Segoe UI;*/ font-weight:lighter; color:#FFF; margin:10px 0 0 0; line-height:33px; }
ul.demdous-menu li span{color:#FFFFFF; padding:0 10px 0 0; font-family:Calibri; font-size:14px;}
ul.demdous-menu li.ck{top:0px;}
ul.demdous-menu li.nk{top:105px;}
ul.demdous-menu li.sem{ top:210px;}
ul.demdous-menu li.nem{top:315px;}
ul.demdous-menu li.sk{top:420px;}
ul.demdous-menu li.dd{top:525px;}
ul.demdous-menu li.goa{top:630px;}
ul.demdous-menu li span.icon{width:75px; height:78px; float:left; margin:0 30px 0 0; position:relative;}
ul.demdous-menu li.ck span.icon{background:url('images/ck.png') no-repeat left bottom;}
ul.demdous-menu li.nk span.icon{background:url('images/nk.png') no-repeat left bottom;}
ul.demdous-menu li.sem span.icon{background:url('images/sem.png') no-repeat left bottom;}
ul.demdous-menu li.nem span.icon{background:url('images/nem.png') no-repeat left bottom;}
ul.demdous-menu li.sk span.icon{background:url('images/sk.png') no-repeat left bottom;}
ul.demdous-menu li.dd span.icon{background:url('images/dd.png') no-repeat left bottom;}
ul.demdous-menu li.goa span.icon{background:url('images/goa.png') no-repeat left bottom;}
ul.demdous-menu li span.box{width:100px; height:82px; float:left; margin:2px 10px 0 -123px; background:url('images/menu-box.png') no-repeat left center; position:relative;}
ul.demdous-menu li:hover span.icon{margin-top:-5px;}

/*----- MOBILE DEVICES -----*/

div.demdous{width:100%; height:720px;}
div.inner-content{width:720px;margin:10px 10px 5px 10px;}
.column-50{width:340px;}
textarea,input[type="text"]{width:230px;}
div.desc{ width:450px;}
ul.demdous-menu li div{margin: 0 0 0 28px;}
div.header-nav{margin-left:225px;}


@media only screen and (min-width: 480px) and (max-width: 767px){
div.demdous{width:470px; width:470px\0/!important;}
div.avatar{width:118px; height:148px;}
div.avatar img{width:118px; height:148px;}
div.desc{ width:290px;}
ul.demdous-menu li div{margin: 0 0 0 110px;}
div.header-nav{margin-left:85px;}

}

@media only screen and (min-width: 200px) and (max-width: 479px){
div.demdous{width:300px; width:300px\0/!important;}
div.desc{ width:100%;}
div.avatar{margin:0 0 15px 10px;}
ul.demdous-menu li div{margin: 0 0 0 15px;}
div.header-nav{margin-left:0;}
}

.menuitem{
	border-radius: 0 25px 25px 0;
    float: left;
    height: 70px;
    margin-top: 20px;
    width: 90%;
}

.menufonts1{
	color: #DDD; 
	text-shadow: none; 
	margin: 25px 0 0 20px;
	font-weight: normal;
	text-align: center;
    font-size: 1.2em;
}

.Color-MenuItem{background: #003366;}

.topbtn{
	border-radius: 24px 24px 0 0;
    height: 62px;
    margin: 0 auto;
    width: 90%;
}

.middlebtn{
	border-radius: 0 0 0 0;
    height: 62px;
    margin: 0 auto;
    width: 90%;
}

.bottombtn{
	border-radius: 0 0 24px 24px;
    height: 62px;
    margin: 0 auto;
    width: 90%;
}

.btnalign{
	color: #DDDDDD;
    font-weight: normal;
    margin: 19px 1px 0 20px;
    padding-top: 20px;
    text-shadow: none;
    text-align: center;
    font-size: 1.2em;
}

/** Plan by attraction CSS **/

/******** MENU ********/
ul.plba-menu{float:left;margin:0px;padding:0px; list-style-type:none;height:auto; width:100%;} 
ul.plba-menu li{text-shadow:none; z-index:1; height:100px;cursor:pointer;position:absolute;text-align:left; width:100%; margin:0; padding:0 ;background:#005a04;}
ul.plba-menu li div{ padding:10px 0 0 8px; height:90px; margin:0 0 0 24px;}
ul.plba-menu li h3{ font-size:15px; /*font-family: Segoe UI;*/ font-weight:lighter; color:#FFF; margin:10px 0 0 0; line-height:33px; }
ul.plba-menu li span{color:#FFCF79; font-style:italic; padding:0 10px 0 0; font-family:Calibri; font-size:14px;}
ul.plba-menu li.forts{top:0px;}
ul.plba-menu li.as{top:105px;}
ul.plba-menu li.ws{ top:210px;}
ul.plba-menu li.nat{top:315px;}
ul.plba-menu li.tk{top:420px;}
ul.plba-menu li.dam{top:525px;}
ul.plba-menu li.wl{top:630px;}
ul.plba-menu li.cps{top:735px;}
ul.plba-menu li.tem{top:840px;}
ul.plba-menu li.mus{top:945px;}
ul.plba-menu li.wel{top:1050px;}
ul.plba-menu li.ash{top:1155px;}
ul.plba-menu li.boat{top:1260px;}
ul.plba-menu li.cave{top:1365px;}
ul.plba-menu li.dolp{top:1470px;}
ul.plba-menu li.gd{top:1575px;}
ul.plba-menu li.fsh{top:1680px;}
ul.plba-menu li span.icon{width:75px; height:78px; float:left; margin:0 30px 0 0; position:relative;}
ul.plba-menu li.forts span.icon{background:url('images/fort.png') no-repeat left bottom;}
ul.plba-menu li.as span.icon{background:url('images/as.png') no-repeat left bottom;}
ul.plba-menu li.ws span.icon{background:url('images/ws.png') no-repeat left bottom;}
ul.plba-menu li.nat span.icon{background:url('images/dd.png') no-repeat left bottom;}
ul.plba-menu li.tk span.icon{background:url('images/trekking.png') no-repeat left bottom;}
ul.plba-menu li.dam span.icon{background:url('images/dam.png') no-repeat left bottom;}
ul.plba-menu li.wl span.icon{background:url('images/wildlife.png') no-repeat left bottom;}
ul.plba-menu li.cps span.icon{background:url('images/camps.png') no-repeat left bottom;}
ul.plba-menu li.tem span.icon{background:url('images/temple.png') no-repeat left bottom;}
ul.plba-menu li.mus span.icon{background:url('images/museum.png') no-repeat left bottom;}
ul.plba-menu li.wel span.icon{background:url('images/wellness.png') no-repeat left bottom;}
ul.plba-menu li.ash span.icon{background:url('images/ashram.png') no-repeat left bottom;}
ul.plba-menu li.boat span.icon{background:url('images/boating.png') no-repeat left bottom;}
ul.plba-menu li.cave span.icon{background:url('images/cave.png') no-repeat left bottom;}
ul.plba-menu li.dolp span.icon{background:url('images/dolphin.png') no-repeat left bottom;}
ul.plba-menu li.gd span.icon{background:url('images/garden.png') no-repeat left bottom;}
ul.plba-menu li.fsh span.icon{background:url('images/fishing.png') no-repeat left bottom;}
ul.plba-menu li span.box{width:100px; height:82px; float:left; margin:2px 10px 0 -123px; background:url('images/menu-box.png') no-repeat left center; position:relative;}
ul.plba-menu li:hover span.icon{margin-top:-5px;}

@media only screen and (min-width: 480px) and (max-width: 767px){
div.plba{width:100%;}
ul.plba-menu li div{margin: 0px;}
}

@media only screen and (min-width: 200px) and (max-width: 479px){
div.plba{width:100%; }
ul.plba-menu li div{margin: 0 0 0 15px;}
}

/** Plan by Month CSS **/
/** Plan by Month CSS **/
ul.plbm-menu{float:left;margin:0px;padding:0px; list-style-type:none;height:auto; width:100%;} 
ul.plbm-menu li{text-shadow:none; z-index:1; height:100px;cursor:pointer;position:absolute;text-align:left; width:100%; margin:0; padding:0 ;background:#008299;}
ul.plbm-menu li div{ padding:10px 0 0 8px; height:90px; margin:0 0 0 24px;}
ul.plbm-menu li h3{ font-size:15px; /*font-family: Segoe UI;*/ font-weight:lighter; color:#FFF; margin:10px 0 0 0; line-height:33px; }
ul.plbm-menu li span{color:#FFCF79; font-style:italic; padding:0 10px 0 0; font-family:Calibri; font-size:14px;}
ul.plbm-menu li.jan{top:0px;}
ul.plbm-menu li.feb{top:105px;}
ul.plbm-menu li.mar{ top:210px;}
ul.plbm-menu li.apr{top:315px;}
ul.plbm-menu li.may{top:420px;}
ul.plbm-menu li.june{top:525px;}
ul.plbm-menu li.july{top:630px;}
ul.plbm-menu li.aug{top:735px;}
ul.plbm-menu li.sep{top:840px;}
ul.plbm-menu li.oct{top:945px;}
ul.plbm-menu li.nov{top:1050px;}
ul.plbm-menu li.dec{top:1155px;}
ul.plbm-menu li span.icon{width:75px; height:78px; float:left; margin:0 30px 0 0; position:relative;}
ul.plbm-menu li.calicon span.icon{background:url('images/calendar.png') no-repeat left bottom;}
ul.plbm-menu li span.box{width:100px; height:82px; float:left; margin:2px 10px 0 -123px; background:url('images/menu-box.png') no-repeat left center; position:relative;}
ul.plbm-menu li:hover span.icon{margin-top:-5px;}

.pointup{
	background: url('images/pointup.png') 50% 50% no-repeat;
	height: 300px;
    width: 100%;
}

.noshadow{
	text-shadow: none;
}

.hide{
	display:none;
}

.show{
	display:block;
}

.is-loading {
  background-color: black;
  background-image: url('images/loading.gif');
  background-position: center center;
  background-repeat: no-repeat;  
}

.yesmandatory{
 border: 1px solid red;
}

.nomandatory{
 border: none;
}

.userinfo{
	height: 30px; 
	background-color: #1E1E1E; 
	padding: 10px 0px 0px 0px; 	
	width: 100%;
	display: none;	
}

h1#title_home{
	min-height: 20px !important;
}

.userdetail{
	float: right; 
	padding-right: 20px;
	text-shadow: none;
	color: #FFFFFF;  
    font-size: 0.9em;
}

.nodata{
	padding:10px;
	background-color: #FFFFFF;
	text-shadow: none;
	color: #000000;
	font-weight: normal;
	font-size: 0.9em;
}

#stationdetail .ui-header{
	z-index: 99999;
}

.note{
	color: #C0C0C0;
    font-size: 0.9em;
    padding-top: 40px;
    text-align: left;
    text-shadow: none;
    width: 100%;
}

.loginscreen{
	position: relative;
	top: 0% !important;	
}

.registerscreen{
	position: relative;
	margin-top: 78px;
}

.hometitle{
	position: absolute; 
	left: 16%;"
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 300px) 
and (max-width : 480px) {	
	.my-page .ui-listview .ui-li.ui-btn {
		border: 1px solid #C4C4C4;
		float: left;
		height: 80px;
		margin: 9px 1.5%;
		width: 28.9%;
	}
	.searchbox .ui-block-a {
		width: 88%;
	}
	
	.hometitle{
		position: absolute; 
		left: 9%;"
	}
}

@media only screen 
and (min-width : 500px) 
and (max-width : 720px) {	
	.my-page .ui-listview .ui-li.ui-btn {
		border: 1px solid #C4C4C4;
		float: left;
		height: 154px;
		width: 29.93%;
	}	
	.searchbox .ui-block-a {
		width: 88%;
	}
	.dl-menuwrapper {
		width: 270px !important;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape) {
	.my-page .ui-listview .ui-li.ui-btn {
		border: 1px solid #C4C4C4;
		float: left;
		height: 163px;
		margin: 9px 1.5%;
		width: 30.4%;
	}	
	.searchbox .ui-block-a {
		width: 94%;
	}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) {
	.my-page .ui-listview .ui-li.ui-btn {
		border: 1px solid #C4C4C4;
		float: left;
		height: 163px;
		margin: 9px 1.5%;
		width: 29.4%;
	}	
}

.logo{	
	text-align: center;
	margin: 70px auto;
	position: relative;
}


.logospace {
    margin: 150px auto;
    position: relative;
    text-align: center;
}

img.logoimg{
	width: 190px;
}

.signin{
	width: 75%; 
	text-align: center; 
	margin: 0px auto;
	padding-bottom: 5px;
}

.invalid_userpass{
	color: red; 
	text-shadow:none; 
	font-size: 0.9em; 
	text-align: center;
	font-weight: bold;
}

#sexContainer{
	margin: 0.6em 0;
	padding-top: 0px;
}

#sexContainer legend{
	color: #2B1B17;
    text-shadow: none;
}

#fgtbtn .ui-btn{
	left: 10%;
	top: 5px;
}

.fgtsignin{
	width: 54%; 
	text-align: center; 
	margin: 0px auto;
}

.forgotpass{	
	text-align:center; 	
	padding-top:20px; 	
	padding-bottom:20px; 		
	text-shadow:none;	
	font-weight: normal;	
	font-size:0.9em;
}

#searchStationsList p{
    text-shadow: none;
}

#panel {
    display: none;
    /**height: 220px;**/
    background-color: #000;
    padding: 10px;
	font-weight:normal;
	opacity: 0.9;
}

.noactive{
	background: none;
}

#toggle{
	bottom: 0px;
}

.innerlogin{	
    margin: 0 auto;
    width: 265px;
}

.social{
	margin: 0 auto;
    padding-left: 43px;
    width: 295px;
}

.social img{
	width: 50%;
}

.nomenu{
	background: none !important;
}

.menudisabled{
	float: left;
	padding-left: 10px;
}

.quotes{
	color: #FFCF79 !important;
	font-style: italic;
}

.weathergrid{
	margin: 0 42%;
	width: 30%;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
	#homepage #categoriesList{
		margin: 1em 0 -1em 6px;
	}
	
	.weathergrid{
		margin: 0 auto;
		width: 75%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	.weathergrid{
		margin: 0 42%;
		width: 30%;
	}
}

font{
	font-family: "Roboto",sans-serif !important;    
	font-weight: 300 !important;
	font-size: 1em !important;
}

.emptycontainer{
    margin: 0 1em 0 12px !important;
}

#filterbtn{
	margin-right: 15px;
	margin-left: 15px;
}

#ads img{
	border-radius: 40px 40px 40px 40px;
	-moz-border-radius: 40px 40px 40px 40px;
	-webkit-border-radius: 40px 40px 40px 40px;
	border: 1px solid #2f4f4f;
}


.adfooter {
    background: #003153;
    border: medium none !important;
    color: #FFF;
    height: 50px;
    line-height: 50px;
    opacity: 1;
    text-align: center;
    text-shadow: none;
    z-index: 9999;
	font-family: roboto;
}

.adtitle{
	color: #000; 
	margin-top: 15px; 
	margin-bottom: 15px; 
	font-size: 1.1em;  
	text-align: center; 
	text-shadow:none;
}

.adbackground{
	position:fixed; 
	top:0px; 
	left:0px; 
	bottom:0px; 
	right:0px; 
	height:100%; 
	background-color: #0E9ADC;
}


.adcontent {
    border-radius: 15px;
    color: #ffffff;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 75%;
}

.adcontent .transparency {
    background-color: #000000;
    height: 1500px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
} 
.txtcontent  
{  
	position:relative;
	font-family: roboto;
	text-shadow:none;
}
.fgtpass {
    text-align: center;
    text-shadow: none;
}
#searchContainer > p {
    color: #fff;
    text-shadow: none;
}