      <!DOCTYPE html>
      <html>
      <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>CastAway</title>
        <link rel="stylesheet"  href="css/themes/default/jquery.mobile-1.3.0.css">
        <script src="js/jquery-1.11.1.min.js"></script>
        <script>
          $(document).bind("mobileinit", function(){
            $.mobile.defaultPageTransition="none";
            $.mobile.loader.prototype.options.theme = "a";
          });
        </script>
        <script src="js/jquery.mobile-1.3.0.min.js"></script>
        <link rel="stylesheet" href="css/grid.css">

        <link href="css/styles.css" type="text/css" rel="stylesheet" />
        <link href="css/photoswipe.css" type="text/css" rel="stylesheet" />
        <link href="css/cards.css" type="text/css" rel="stylesheet" />          
        <link rel="stylesheet" type="text/css" href="css/jqm-datebox.min.css" />
        <link rel="stylesheet" type="text/css" href="css/default.css" />
        <link rel="stylesheet" type="text/css" href="css/component.css" />

        <script type="text/javascript" src="js/klass.min.js"></script>
        <script type="text/javascript" src="js/code.photoswipe-3.0.5.min.js"></script>
        <script src="cordova.js"></script>
        <script src="js/mustache.js"></script>
        <script type="text/javascript" src="js/PushNotification.js"></script>
        <script src="js/app.js"></script>
        <script src="js/jquery.raty.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>         
        <script type="text/javascript" src="js/modernizr.custom.js"></script>
        <script type="text/javascript" src="js/jquery.dlmenu.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="js/openfb.js"></script>          
        <script type="text/javascript" src="js/gapi.js"></script>

        <script type="text/javascript" src="js/codebird.js"></script>
        <script type="text/javascript" src="js/tapi.js"></script>

        <script id="card-template" type="text/template">
          {{#nid}}<a id={{nid}} rel="external">{{/nid}}
          <div class="card">
            <div class="card-image">
              {{#stationImg}}<img class="stationclass" src="{{stationImg}}">{{/stationImg}}
              {{#stationName}} <h2>{{stationName}}</h2> {{/stationName}}
            </div>
            {{#nid}}<p id="rat{{nid}}" style="margin-bottom: 0px;"></p>{{/nid}}
            {{#overview_short}} {{{overview_short}}}{{/overview_short}}
          </div>
        </a>
      </script>

      <script>

           // Defaults to sessionStorage for storing the Facebook token
           openFB.init({appId: '244689885704715'});

          //  Uncomment the line below to store the Facebook token in localStorage instead of sessionStorage
          //  openFB.init({appId: 'YOUR_FB_APP_ID', tokenStore: window.localStorage});

          function login() {
            openFB.login(
              function(response) {
                if(response.status === 'connected') {
                  getInfo();
                  $.mobile.changePage('#homepage');
                } else {
                  alert('Facebook login failed: ' + response.error);
                }
              }, {scope: 'email,user_about_me,user_birthday,user_education_history,user_hometown,user_location,user_religion_politics,user_relationships,user_relationship_details,user_website,user_work_history,manage_pages,user_activities,user_likes,user_events,user_interests,public_profile,user_friends'});
          }

          function getInfo() {
            openFB.api({
              path: '/me',
              success: function(data) {
                registerFbUser(JSON.stringify(data));
                localStorage.setItem('fbdetails', JSON.stringify(data));
              },
              error: errorHandler});
          }

          function share() {
            openFB.api({
              method: 'POST',
              path: '/me/feed',
              params: {
                message: document.getElementById('Message').value || 'Testing Facebook APIs'
              },
              success: function() {
                alert('the item was posted on Facebook');
              },
              error: errorHandler});
          }

          function revoke() {
            openFB.revokePermissions(
              function() {
                alert('Permissions revoked');
              },
              errorHandler);
          }

          function logout() {
            openFB.logout(
              function() {
                localStorage.removeItem('fbdetails');
                localStorage.setItem('fbConnected',false);
              },
              errorHandler);
          }

          function errorHandler(error) {
            alert(error.message);
          }
        </script>

      </head>
      <body>

       <div class='ui-loader-background'></div>	  	  
       <!-- LOGIN PAGE STARTS HERE -->
       <div data-role="page" id="loginpage">
          <!--div data-role="header" data-position="fixed">
              <h1>Castaway</h1>
            </div-->

            <div id="backgrounds" data-role="content" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; height:100%;" class="backgroundimg nopadding">
              <div class="blur" style="position:absolute; top:0px; left:0px; bottom:0px; right:0px; height:100%;"></div>
              <div class="logo">
                <img class="logoimg" src="css/images/Logo.png" alt="arrow">
              </div>
              <div id="app-status-ul"></div>
              <div id="loginScreen" data-theme="a" class="ui-corner-all loginscreen">				
                <div style="height: 10px;">
                  <div style="height: 125px; margin-top: 50px;">
                    <div id="guest" style="text-align: center; margin: 0px auto; width: 158px;" class="button blue">Continue as guest</div>
                  </div>
                </div>

                <div style=" height: 103px;">
                  <div id="loginreg" style="height: 125px; margin-top: 70px;">
                    <div style="text-align: center; margin: 0px auto; width: 158px;" class="button blue">Login or Register</div>
                  </div>
                </div>
                <div class="ui-grid-b social">
                  <div class="ui-block-a"><a data-role="none" id="fbid" href="#"><img src="css/images/social/facebook1.png"><a/></div>
                  <div class="ui-block-b"><a data-role="none" id="gid" href="#"><img src="css/images/social/gplus1.png"></a></div>
                  <div class="ui-block-c"><a data-role="none" id="twid" href="#"><img src="css/images/social/twitter1.png"></a></div>					 
                </div>
              </div>
              <div data-theme="a" id="nointernet" data-role="popup" data-dismissible="false" data-overlay-theme="a" data-position-to="origin">
                <div style="padding:10px 20px;">
                  <label>No Internet Connection, Please Check Your Internet Connection & Try Again.</label>
                  <a id="okerror" href="#loginpage" data-theme="a" data-role="button" >OK</a>
                </div>
              </div>
              <div data-role="popup" id="goto_offline" data-dismissible="false" data-overlay-theme="a" data-theme="a" class="ui-corner-all">
                  <div style="padding:10px 20px;">                      
                    <p><div class="errmsg" id="errmsg">Seems some problem with offline content, Please download it again or set offline content to off.</div></p>
                    <div style="width:100%;"><center> <a id="gtoyes" href="#" data-theme="a" class="ui-btn-right ui-btn-corner-all ui-btn-up-a" data-role="button" data-inline="true" data-rel="back" data-theme="c">Download Now</a></center></div>
                  </div>
                </div>
            </div>
          </div>
          <!-- LOGIN PAGE ENDS HERE -->

          <!-- ADS PAGE STARTS HERE -->
          <div data-role="page" id="ads">        
            <div id="backgrounds" data-role="content" class="backgroundimg nopadding adbackground">
             <div class="adtitle"></div>
             <div class="adimage" style="text-align: center;">
               <img style="width: 90%; height: 200px;">
             </div>
             <div class="adcontent">
               <div class="transparency"></div>					  
               <div class="txtcontent"></div> 
             </div>				
           </div>
           <div data-role="footer" data-position="fixed" data-fullscreen="true" class="adfooter">
            Close
          </div>
        </div>
        <!-- ADS PAGE ENDS HERE -->

        <!-- OFFLINE APP PAGE STARTS HERE -->
        <div id="offlineapp" data-role="page" tabindex="0" class="ui-page ui-body-c" style="min-height: 480px;">
          <div class="backgroundimg nopadding ui-content" style="position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; background: none repeat scroll #013C51;" data-role="content" id="backgrounds" role="main">
           <div class="logo" style="margin-bottom: 45px;">
            <img alt="arrow" src="css/images/Logo.png" class="logoimg">
          </div>			
          <div id="loginScreen" data-theme="a" class="ui-corner-all loginscreen" style="text-align: center; text-shadow:none; color: #FFF;">
            <h3>App Offline</h3>
            <p style="margin: 0 20px 0 20px;">Please wait we are adding some intresting features for you, we will be back in sometime.</p>
            <p>Sorry for the inconvenience caused.</p>
          </div>
        </div>
      </div>
      <!-- OFFLINE APP PAGE ENDS HERE -->

      <!-- REGISTER PAGE STARTS HERE -->
      <div data-role="page" id="registerPage">
        <div id="backgrounds" data-role="content" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; height:100%;" class="backgroundimg nopadding">
          <div class="blur" style="position:absolute; top:0px; left:0px; bottom:0px; right:0px; height:100%;"></div>
          <div id="registerScreen" data-theme="a" class="ui-corner-all registerscreen">
            <form id="register" method="POST" action="">
              <div style="width:265px; margin: 0 auto; padding-top: 20px;">
                <div class="signin">
                  <img style="width: 25px; float: left; text-align: center;" src="css/images/lock.png">
                  <h3 style="text-align:center; text-shadow:none; color: #2B1B17;">Sign In / Register</h3>
                </div>
                <div class="invalid_userpass"></div>

                <label for="email" class="ui-hidden-accessible">Email:</label>
                <input name="email" id="email" value="" placeholder="Email" data-theme="a" type="email">

                <label for="pw" class="ui-hidden-accessible">Password:</label>
                <input name="pass" id="pw" value="" placeholder="password" data-theme="a" type="password">
                <div style="height: 1px;"></div>

                <div style="margin: 0 auto; padding-top: 8px; text-align: center;">
                  <a href="#" id="signin" data-inline="true" data-corners="false" data-shadow="false" data-theme="a" data-role="button" data-inline="true">Login</a>
                  <a href="#" id="regsubmit" data-inline="true" data-corners="false" data-shadow="false" data-theme="a" data-role="button" data-inline="true">Register</a>
                </div>
              </div>
              <div class="fgtpass"><a href="#forgotpass">Forgot Pass?</a></div>
            </form>
          </div>
          <div data-role="popup" id="registerPopup" data-theme="a" data-overlay-theme="a" data-dismissible="false" class="ui-corner-all">
            <div style="padding:10px 20px;">
             <h3 style="text-align: center;">Hi... <span id="registereduser"></span></h3>
             <p id="registerMessage">Welcome to Castaway, You are now registered to our website you can now access our premium sections and get latest updates of weekend getaways and destinations. Have a great travel.</p>
             <div style="width:100%;"><center><button id="registerLogin" type="submit" data-theme="b" data-mini="true" data-inline="true">Login Now</button></center></div>
           </div>
         </div>
         <div data-role="popup" id="registerError" data-theme="a" data-overlay-theme="a" data-dismissible="false" class="ui-corner-all">
          <div style="padding:10px 20px;">
           <h3 style="text-align: center;">Error</h3>
           <p><div id="registerErrorMessage"></div></p>
           <div style="width:100%;"><center> <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">OK</a></center></div>
         </div>
       </div>
     </div>
   </div>
   <!-- REGISTER PAGE ENDS HERE -->

   <!-- Forgot Pass PAGE STARTS HERE -->
   <div data-role="page" id="forgotpass">
    <div data-role="header" data-position="fixed">
      <a href="#registerPage" data-iconpos="notext" class="back-button"></a>
      <h1>Castaway</h1>
    </div>
    <div id="backgrounds" data-role="content" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; height:100%;" class="backgroundimg nopadding">
      <div class="blur" style="position:absolute; top:0px; left:0px; bottom:0px; right:0px; height:100%;"></div>
      <div class="logospace"></div>
      <div id="forgotPassScreen" data-theme="a" class="ui-corner-all loginscreen">
        <form id="login" method="POST" action="">
          <div style="width:265px; margin: 0 auto;">
            <div class="fgtsignin">
              <img style="width: 25px; float: left; text-align: center;" src="css/images/lock.png">
              <h3 style="text-align:center; text-shadow:none; color: #2B1B17;">Forgot Pass</h3>
            </div>
            <div class="invalid_userpass"></div>
            <label for="un" class="ui-hidden-accessible">Username:</label>
            <input name="user" id="un" value="" placeholder="Email" data-theme="a" type="text">
            <div style="height: 1px;"></div>
            <div id="fgtbtn" style="width:100%;"><button data-inline="true" id="forgotbtn" data-shadow="false" type="submit" data-theme="a">Email New Password</button></div>
          </div>
        </form>
      </div>
      <div data-role="popup" id="forgotError" data-theme="a" data-overlay-theme="a" data-dismissible="false" class="ui-corner-all">
        <div style="padding:10px 20px;">
         <h3 style="text-align: center;">Password Reset</h3>
         <p><div id="forgotErrorMessage"></div></p>
         <div style="width:100%;"><center> <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">OK</a></center></div>
       </div>
     </div>
   </div>
 </div>
 <!-- Forgot Pass PAGE ENDS HERE -->

 <!-- DASHBOARD PAGE STARTS HERE -->
 <div data-role="page" id="homepage" style="padding-top:44px !important;">
  <div data-role="header" data-position="fixed">
    <!--a href="#" id="exitbtn" onclick="exitFromApp()" data-icon="bars">Exit</a-->
              <!--div class="demo-1" id="menu">
                  <div id="dl-menu" class="dl-menuwrapper">
                      <button data-role="none" class="dl-trigger">Open Menu</button>
                      <ul class="dl-menu">
                          <li>
                              <a href="#">My Profile</a>
                          </li>
                          <li>
                              <a href="#">Travel Preferences</a>
                          </li>
                          <li>
                              <a href="#">My Groups</a>
                          </li>
                          <li>
                              <a href="#">My Favourite Places</a>
                          </li>
                          <li>
                              <a href="#">Improve us</a>
                          </li>
                          <li>
                              <a href="#">About us</a>
                          </li>
                          <li>
                              <a onclick="letmelogout()">Logout</a>
                          </li>
                      </ul>
                  </div>
                </div-->
                <h1 id="title_home">Castaway</h1>
                <!--a id="loginForm" href="#popupLogin" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-icon="check" data-theme="a" data-transition="pop" class="ui-btn-right">Login</a-->
                <a id="logoutBtn" href="#" onclick="letmelogout()" data-iconpos="notext" class="logout-button ui-btn-right ui-icon-nodisc hide"></a>
              </div>
              <div class="userinfo"><span class="userdetail" id="userdetail"></span></div>
              <div data-role="content" class="backimg nopadding">
                <div class="searchbox">
                  <fieldset class="ui-grid-a">
                    <div class="ui-block-a">
                      <form>
                       <input data-mini="true" placeholder="Search Places..." type="search" name="searchplc" id="searchplc" value="">
                     </form>
                   </div>
                   <div class="ui-block-b">
                    <a href="index.html" data-role="button" data-icon="search" id="searchbtn" data-iconpos="notext">Search</a>
                  </div>
                </fieldset>
              </div>
              <div class="my-page">
                <ul data-role="listview" data-inset="true" id="categoriesList">
                      <!--li class="noshadow"><a id='23' href="#"><img style="height: 100%;" src="http://www.mumbaicolors.com/sites/default/files/10.jpg"><h2>Adventure</h2></a></li>
                      <li class="noshadow"><a id='24' href="#"><img style="height: 100%;" src="http://www.mumbaicolors.com/sites/default/files/1.jpg"><h2>Beaches</h2></a></li>
                      <li class="noshadow"><a id='25' href="#"><img style="height: 100%;" src="http://www.mumbaicolors.com/sites/default/files/5.jpg"><h2>Foodies</h2></a></li>
                      <li class="noshadow"><a id='26' href="#"><img style="height: 100%;" src="http://www.mumbaicolors.com/sites/default/files/3.jpg"><h2>Forts</h2></a></li>
                      <li class="noshadow"><a id='27' href="#"><img style="height: 100%;" src="http://www.mumbaicolors.com/sites/default/files/7.jpg"><h2>Hill Stations</h2></a></li>
                      <li class="noshadow"><a id='28' href="#"><img style="height: 100%;" src="http://www.mumbaicolors.com/sites/default/files/4.jpg"><h2>Lakes</h2></a></li>
                      <li class="noshadow"><a id='29' href="#"><img style="height: 100%;" src="http://www.mumbaicolors.com/sites/default/files/6.jpg"><h2>Long Drive</h2></a></li>
                      <li class="noshadow"><a id='30' href="#"><img style="height: 100%;" src="http://www.mumbaicolors.com/sites/default/files/12.jpg"><h2>Luxury</h2></a></li>
                      <li class="noshadow"><a id='31' href="#"><img style="height: 100%;" src="http://www.mumbaicolors.com/sites/default/files/8.jpg"><h2>Photography</h2></a></li>
                      <li class="noshadow"><a id='32' href="#"><img style="height: 100%;" src="http://www.mumbaicolors.com/sites/default/files/9.jpg"><h2>Resorts</h2></a></li>
                      <li class="noshadow"><a id='33' href="#"><img style="height: 100%;" src="http://www.mumbaicolors.com/sites/default/files/11.jpg"><h2>Romantic</h2></a></li>
                      <li class="noshadow"><a id='34' href="#"><img style="height: 100%;" src="http://www.mumbaicolors.com/sites/default/files/2.jpg"><h2>Waterfalls</h2></a></li-->
                      </ul>
                    </div>
                    <div style="clear:both; height:0px;">&nbsp;</div>
                    <div>
                      <ul class="home-content">
                        <li>
                          <a class="button main-nav" href="#planatrip" >Plan A Trip<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                        </li>
                        <li>
                          <a class="button main-nav" href="#packages" >Packages<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                        </li>
                        <li>
                          <a class="button main-nav" href="#suggestme" >Suggest Me<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                        </li>
                      <!--li>
                          <a class="button main-nav" href="#" >Mumbai Darshan<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                        </li-->
                        <li id="offline">
                          <a class="button main-nav" href="#offline" >Download Offline Data<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                        </li>
                      </ul>
                    </div>
                    <div data-role="popup" id="errorPop" data-theme="a" data-position-to="window" data-transition="pop">
                      <div class="errmsg" id="errmsg"></div>
                      <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right ui-btn-corner-all ui-btn-up-a">Close</a>
                    </div>
                  </div>
                  <div data-role="footer"></div>
                </div>
                <!-- DASHBOARD PAGE ENDS HERE -->

                <div data-role="page" id="offline">
                  <div data-role="header" data-position="fixed">
                    <a href="#" data-rel="back" data-iconpos="notext" class="back-button"></a>
                    <h1 id="category">Offline Content</h1>
                  </div>
                  <div data-role="content" class="backimg" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; height:100%;">
                   <div style="padding-top: 45px; text-shadow: none; color: #ffffff;">
                     <label for="flip-3">Offline Mode:</label>
                     <select name="flip-3" id="flip-3" data-role="slider" data-mini="true">
                       <option value="off">Off</option>
                       <option value="on">On</option>
                     </select>
                   </div>
                   <div style="color: #FFF; text-shadow: none; padding-top: 10px;"><label>Current Version</label>
                    <div id="current_version" style="padding-top: 5px;">1.0</div>
                  </div>

                  <div style="color: #FFF; text-shadow: none; padding-top: 10px;"><label>Available Version</label>
                    <div id="available_version" style="padding-top: 5px;">Loading...</div>
                  </div>
                  <br>
                  <a href="#" id="startDl" data-role="button" data-theme="a">Download Update</a>
                  <div style="padding-top: 10px; text-shadow: none; color: #fff; font-size: 0.8em;"><b>Note:</b> Some features might not be available in offline mode.</div>
                  <div data-theme="a" id="downloading" data-role="popup" data-dismissible="false" data-overlay-theme="a" data-position-to="origin">
                    <div style="padding:10px 20px;">
                      <label>Upgrading System.</label>
                      <div style="text-align: center; padding-top: 5px" id="downloadStatus">0 %</div>
                    </div>
                  </div>
                  <div data-role="popup" id="networkdownload" data-overlay-theme="a" data-theme="a" class="ui-corner-all">
                    <div style="padding:10px 20px;">                      
                      <p><div class="errmsg" id="errmsg">Download requires high data download approx (Min 28 MB), carrier charges may apply do you want to still download it.</div></p>
                      <a id="bkyes" style="left: 10%;" href="#" data-role="button" data-theme="a" class="ui-btn-right ui-btn-corner-all ui-btn-up-a">Ok</a>
                     <a id="bkno" style="left: 15%;" href="#" data-role="button" data-theme="a" class="ui-btn-right ui-btn-corner-all ui-btn-up-a">Cancel</a>
                    </div>
                  </div>
                </div>
              </div>

              <div data-role="page" id="packages">
                <div data-role="header" data-position="fixed">
                  <a href="#" data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="category">Packages</h1>
                </div>
                <div data-role="content" class="backimg" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; height:100%;">
                  <span style="position: absolute; color: #FFFFFF; text-shadow: none; top:60px;">Coming Soon...</span>
                </div>
              </div>

              <div data-role="page" id="suggestme">
                <div data-role="header" data-position="fixed">
                  <a href="#" data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="category">Suggest Me</h1>
                </div>
                <div data-role="content" class="backimg" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; height:100%;">
                  <span style="position: absolute; color: #FFFFFF; text-shadow: none; top:60px;">Coming Soon...</span>
                </div>
              </div>

              <!-- STATION LISTING PAGE STARTS HERE -->
              <div data-role="page" id="stations" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a href="#homepage" data-iconpos="notext" class="back-button"></a>
                  <h1 id="category"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content" class="mystations">
                  <div class="stationlist"></div>
                  <div id="stationContainer"></div>
                  <!--ul data-role="listview" data-theme="a" id="stationsList"></ul-->
                </div>
              </div>
              <!-- STATION LISTING PAGE ENDS HERE -->

              <!-- SEARCH LISTING PAGE STARTS HERE -->
              <div data-role="page" id="searchstations" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a href="#" data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="category"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content" class="mystations">
                  <div class="searchlist"></div>
                  <div id="searchContainer"></div>
                </div>
              </div>
              <!-- SEARCH LISTING PAGE ENDS HERE -->

              <!-- STATION DETAIL PAGE STARTS HERE -->
              <div data-role="page" id="stationdetail" class="gallery-page">
                <div data-role="header" data-position="fixed">
                  <a href="#" data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content" class="backimg">
                  <div id="PhotoSwipeTarget"></div>
                  <div>&nbsp;</div>
                  <ul class="home-content" id="detailsContainer">
                    <li>
                      <a id="overview" class="button main-nav" href="#" >Overview<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                    </li>
                    <li>
                      <a id="rateplace" class="button main-nav" href="#" >Rate This Place<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                    </li>
                    <li>
                      <a id="best_season" class="button main-nav" href="#" >Best Season<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                    </li>
                    <li>
                      <a id="weather" class="button main-nav" href="#" >Current Weather<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                    </li>
                    <li>
                      <a id="shopping" class="button main-nav" href="#" >Shopping<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                    </li>
                    <li>
                      <a id="attractions" class="button main-nav" href="#" >Attractions<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                    </li>
                  <!--li>
                      <a class="button main-nav" href="#where_to_stay" >Where To Stay<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                    </li-->
                    <li>
                      <a id="where_to_eat" class="button main-nav" href="#" >Where To Eat<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                    </li>
                    <li>
                      <a id="how_to_reach" class="button main-nav" href="#" >How To Reach<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                    </li>
                    <li>
                      <a id="reviews" class="button main-nav" href="#" >Reviews<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                    </li>
                    <li>
                      <a id="travellerphotos" class="button main-nav" href="#" >Travellers Photos<img class="arrow" src="css/images/arrow.png" alt="arrow" width="6" height="12"></a>
                    </li>
                  </ul>
                  <div data-role="popup" id="imgPop" data-theme="a" data-position-to="window" data-transition="pop">
                    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right ui-btn-corner-all ui-btn-up-a">Close</a><img id="imgbig" src="">
                  </div>
                  <div id="galleryPics"></div>
                </div>
              </div>
              <!-- STATION DETAIL PAGE ENDS HERE -->

              <!-- STATION OVERVIEW PAGE STARTS HERE -->
              <div data-role="page" id="overview" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name1"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div style="width:100%;" id="image-container"><img id="stationimage" style="width:100%;" src=""></div>
                  <div>&nbsp;</div>
                  <div style="background-color: #016483; line-height: 40px; height:40px; color: #FFF;"><span style="margin: 10px;">Overview</span></div>
                  <div style="background-color:#FFF;" id="overviewtext" class="fillertext"></div>
                </div>
              </div>

              <!-- STATION rate this place PAGE STARTS HERE -->
              <div data-role="page" id="rateplace" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name1"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content" style="height: 560px;">
                  <div style="width:100%; text-align:center;" id="rateit">
                    <span style="text-shadow:none; color: #FFFFFF; text-align: center;">Rate It </span>
                    <p style="margin: 0 auto; padding: 20px;" id="rating_review"></p>
                    <input type="hidden" id="stRating" value="" />
                    <button id="ratingsubmit" data-mini="true" type="submit" data-theme="a">Submit Rating</button>

                    <div class="note">Note : Please provide ratings on basis of how you liked the place. keeping everything in mind like how was the enviornment, facilities, spots, food etc.</div>
                  </div>
                  <div>&nbsp;</div>
                  <div id="loginlink" style="text-shadow: none;"><a id="loginForm" href="#loginpage">Login to rate this place</a></div>
                  <div data-role="popup" id="ratingPopup" data-overlay-theme="a" data-theme="a" class="ui-corner-all">
                    <div style="padding:10px 20px;">
                      <div>
                        <h3 style="text-align:center;" id="ratingHeading"></h3>
                      </div>
                      <p id="ratingMessage"></p>
                      <a id="okRatings" style="left: 35%;" href="#stationdetail" data-role="button" data-theme="a" class="ui-btn-right ui-btn-corner-all ui-btn-up-a">Ok</a>
                      <a id="okRatingsBack" style="left: 35%;" data-rel="back" data-role="button" data-theme="a" class="ui-btn-right ui-btn-corner-all ui-btn-up-a">Ok</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- STATION rate this place PAGE ENDS HERE -->

              <!-- STATION BEST SEASON PAGE STARTS HERE -->
              <div data-role="page" id="best_season" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name2"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div style="background-color: #016483; line-height: 40px; height:40px; color: #FFF;"><span style="margin: 10px;">Best Season</span></div>
                  <div style="background-color:#FFF;" id="bestseasontext" class="fillertext"></div>
                </div>
              </div>
              <!-- STATION BEST SEASON PAGE ENDS HERE -->

              <!-- STATION WEATHER PAGE STARTS HERE -->
              <div data-role="page" id="weatherpage" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name2"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div style="background-color: #016483; line-height: 40px; height:40px; color: #FFF;"><span style="margin: 10px;">Current Weather</span></div>
                  <div style="background-color:#FFF;" id="" class="fillertext">
                    <center><img id="weathericon" src=""></center>
                    <div class="ui-grid-a weathergrid">
                      <div class="ui-block-a"><strong>Weather</strong></div>
                      <div class="ui-block-b" id="weathercond"></div>

                      <div class="ui-block-a"><strong>Temperature</strong></div>
                      <div class="ui-block-b" id="temp"></div>

                      <div class="ui-block-a"><strong>Humidity</strong></div>
                      <div class="ui-block-b" id="humidity"></div>

                      <div class="ui-block-a"><strong>Pressure</strong></div>
                      <div class="ui-block-b" id="pressure"></div>

                      <div class="ui-block-a"><strong>Sunrise</strong></div>
                      <div class="ui-block-b" id="sunrise"></div>

                      <div class="ui-block-a"><strong>Sunset</strong></div>
                      <div class="ui-block-b" id="sunset"></div>

                      <div class="ui-block-a"><strong>Speed</strong></div>
                      <div class="ui-block-b" id="speed"></div>

                    </div><!-- /grid-a -->
                  </div>
                </div>
              </div>
              <!-- STATION WEATHER PAGE ENDS HERE -->

              <!-- STATION SHOPPING PAGE STARTS HERE -->
              <div data-role="page" id="shopping" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name2"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div style="background-color: #016483; line-height: 40px; height:40px; color: #FFF;"><span style="margin: 10px;">Shopping</span></div>
                  <div style="background-color:#FFF;" id="shoppingtext" class="fillertext"></div>
                </div>
              </div>
              <!-- STATION SHOPPING PAGE ENDS HERE -->

              <!-- STATION ATTRACTIONS PAGE STARTS HERE -->
              <div data-role="page" id="attractions" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name2"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div style="background-color: #016483; line-height: 40px; height:40px; color: #FFF;"><span style="margin: 10px;">Attractions</span></div>
                  <div style="background-color:#FFF;" id="attractionstext" class="fillertext"></div>
                </div>
              </div>
              <!-- STATION ATTRACTIONS PAGE ENDS HERE -->

              <!-- STATION WHERE TO STAY PAGE STARTS HERE -->
              <div data-role="page" id="where_to_stay" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name2"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div style="background-color: #016483; line-height: 40px; height:40px; color: #FFF;"><span style="margin: 10px;">Where To Stay</span></div>
                  <div style="background-color:#FFF;" id="wheretostaytext" class="fillertext"></div>
                </div>
              </div>
              <!-- STATION WHERE TO STAY PAGE ENDS HERE -->

              <!-- STATION WHERE TO EAT PAGE STARTS HERE -->
              <div data-role="page" id="where_to_eat" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name2"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div style="background-color: #016483; line-height: 40px; height:40px; color: #FFF;"><span style="margin: 10px;">Where To Eat</span></div>
                  <div style="background-color:#FFF;" id="wheretoeattext" class="fillertext"></div>
                </div>
              </div>
              <!-- STATION WHERE TO EAT PAGE ENDS HERE -->

              <!-- STATION HOW TO REACH PAGE STARTS HERE -->
              <div data-role="page" id="how_to_reach" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name2"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div style="background-color: #016483; line-height: 40px; height:40px; color: #FFF;"><span style="margin: 10px;">How To Reach</span></div>
                  <div style="background-color:#FFF;" id="howtoreachtext" class="fillertext"></div>
                </div>
              </div>
              <!-- STATION HOW TO REACH PAGE ENDS HERE -->

              <!-- REVIEWS PAGE STARTS HERE -->
              <div data-role="page" id="reviews" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name2"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div style="background-color: #016483; line-height: 40px; height:40px; color: #FFF;"><span style="margin: 10px;">User Reviews</span></div>
                  <div style="background-color:#FFF;" id="userreviews" class="fillertextoverride">
                    <ul data-role="listview" data-theme="a" id="reviewsList"></ul>
                  </div>
                  <div>&nbsp;</div>
                  <div id="postreviewbtn" style="-webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;background-color: #016483; line-height: 40px; height:40px; color: #FFF; text-align:center;"><span style="margin: 10px;">Post Review</span></div>
                </div>
              </div>
              <!-- REVIEWS PAGE ENDS HERE -->

              <!-- REVIEW DETAILS PAGE STARTS HERE -->
              <div data-role="page" id="postreview" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a href="#reviews" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name2"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div style="background-color: #016483; line-height: 40px; height:40px; color: #FFF;"><span style="margin: 10px;">Post Review</span></div>
                  <div style="background-color:#FFF;" id="postreview" class="fillertext">
                    <form name="comment-form" id="comment-form" method="post">
                      <label for="name">Name (optional)</label>
                      <input type="text" data-clear-btn="true" name="name" id="name" value="">
                      <label for="comment">Comment</label>
                      <textarea cols="40" rows="15" name="comment" id="comment"></textarea>
                      <div>&nbsp;</div>
                      <input type="submit" data-theme="a" id="commentform" value="Add Comment" />
                    </form>
                    <a id="loginForm" href="#loginpage">Login to post review</a>
                  </div>
                  <div data-role="popup" id="errorReviewsPop" data-theme="a" data-position-to="window" data-transition="pop">
                    <div class="errmsg" id="errmsg"></div>
                    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right ui-btn-corner-all ui-btn-up-a">Close</a>
                  </div>
                  <div data-role="popup" id="commentPop" data-overlay-theme="a" data-theme="a" class="ui-corner-all">
                    <div style="padding:10px 20px;">
                      <div>
                        <h3 style="text-align:center;">Thank You</h3>
                      </div>
                      <p><div class="errmsg" id="errmsg">Thanks for submitting comment, Your comment is pending approval from admin.</div></p>
                      <a id="okComments" style="left: 35%;" href="#" data-role="button" data-theme="a" class="ui-btn-right ui-btn-corner-all ui-btn-up-a">Ok</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- REVIEW DETAILS PAGE ENDS HERE -->

              <!-- REVIEW DETAILS PAGE STARTS HERE -->
              <div data-role="page" id="review_detail" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a href="#" data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name2"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div style="background-color: #016483; line-height: 40px; height:40px; color: #FFF;"><span style="margin: 10px;" id="sub"></span></div>
                  <div style="background-color:#FFF;" id="body" class="fillertext"></div>
                </div>
              </div>
              <!-- REVIEW DETAILS PAGE ENDS HERE -->

              <!--Travel Gallery PAGE STARTS HERE -->
              <div data-role="page" id="travellerphotos" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a href="#" data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name2"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div style="background-color: #016483; line-height: 40px; height:40px; color: #FFF;"><span style="margin: 10px;">Traveller Photos</span></div>
                  <div style="background-color:#FFF;" class="fillertext">
                    <ul id="Gallery" class="gallery"></ul>
                  </div>
                  <div data-role="navbar" id="photomenu"  data-position="fixed" class="nav-glyphish hide">
                    <ul>
                      <li><a data-theme="a" class="ui-btn-active ui-state-persist" id="travellerphotosico" href="#travellerphotos" data-icon="custom">Photos</a></li>
                      <li id="capturepic"><a data-theme="a" href="#capture" onclick="capturePhotoWithFile();" id="capture" data-icon="custom">Capture</a></li>
                      <li><a data-theme="a" href="#uploadphoto" id="uploadphoto" data-icon="custom">Upload</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Travel Gallery PAGE ENDS HERE -->

              <!--UPLOAD PAGE STARTS HERE -->
              <div data-role="page" id="uploadphoto" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a href="#" data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name2"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div style="background-color: #016483; line-height: 40px; height:40px; color: #FFF;"><span style="margin: 10px;">Upload Photos</span></div>
                  <div id="nonative" style="background-color:#FFF;" class="fillertext">
                    No web support, Please download castaway app from playstore.
                  </div>
                  <div id="uploadphotodiv" style="background-color:#FFF;" class="fillertext">
                    <label for="name">Title</label>
                    <input type="text" data-clear-btn="true" name="title" id="title" value="">
                    <button onclick="getImage();">Upload a Photo</button>
                  </div>
                  <div data-role="navbar"  data-position="fixed" class="nav-glyphish" data-grid="b">
                    <ul>
                      <li><a data-theme="a" href="#travellerphotos" id="travellerphotos" data-icon="custom">Photos</a></li>
                      <li id="capturepic"><a data-theme="a" href="#capture" onclick="capturePhotoWithFile();" id="capture" data-icon="custom">Capture</a></li>
                      <li><a data-theme="a" class="ui-btn-active ui-state-persist" href="#uploadphoto" id="uploadphoto" data-icon="custom">Upload</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- UPLOAD PAGE ENDS HERE -->

              <!--CAMERA PAGE STARTS HERE -->
              <div data-role="page" id="capture" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a href="#" data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name2"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div style="background-color: #016483; line-height: 40px; height:40px; color: #FFF;"><span style="margin: 10px;">Capture & Upload</span></div>
                  <div style="background-color:#FFF;" class="fillertext" id="photoptions">
                    <img style="display:none;width:100%; height: 500px;" id="smallImage" src="" />
                    <button data-theme="a" onclick="uploadimage();">Upload</button>
                    <button data-theme="a" onclick="cancelUpload();">Cancel</button>
                    <button data-theme="a" onclick="capturePhotoWithFile();">Capture Again</button>
                  </div>
                  <div id="nonative" style="background-color:#FFF;" class="fillertext">
                    No web support, Please download castaway app from playstore.
                  </div>
                  <div id="confirmArea" style="background-color:#FFF;" class="fillertext">
                    <input type="button" data-theme="a" name="gotogallery" id="gotogallery" value="Gallery">
                    <button data-theme="a" onclick="capturePhotoWithFile();">Capture Again</button>
                  </div>
                  <div data-role="navbar"  data-position="fixed" class="nav-glyphish" data-grid="b">
                    <ul>
                      <li><a data-theme="a" href="#travellerphotos" id="travellerphotos" data-icon="custom">Photos</a></li>
                      <li><a data-theme="a" onclick="capturePhotoWithFile();" class="ui-btn-active ui-state-persist" href="#capture" id="capture" data-icon="custom">Capture</a></li>
                      <li><a data-theme="a" href="#uploadphoto" id="uploadphoto" sdata-icon="custom">Upload</a></li>
                    </ul>
                  </div>
                </div>
                <div data-role="popup" class="ui-content" id="confirmPop" data-theme="a" data-position-to="window" data-transition="pop">
                  Choose From Options.
                  <input type="submit" data-theme="a" id="gotogallery" value="Gallery" />
                  <input type="submit" data-theme="a" id="reclick" value="Capture Again" />
                </div>
              </div>
              <!-- CAMERA PAGE ENDS HERE -->

              <!-- PLAN BY MONTH PAGE STARTS HERE -->
              <div data-role="page" id="planbymonth" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a href="#planatrip" data-iconpos="notext" class="back-button"></a>
                  <h1>Plan By Month</h1>
                  <a href="#homepage"  data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content" class="mystations" id="monthslist">
                  <div class="controller">
                    <ul class="plbm-menu" id="monthsListing">                    
                    </ul>
                  </div>
                </div>
              </div>
              <!-- PLAN BY MONTH PAGE ENDS HERE -->

              <!-- STATION LISTING PAGE STARTS HERE -->
              <div data-role="page" id="planbymonthstations" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a href="#" data-rel="back" data-iconpos="notext" class="back-button"></a>
                  <h1 id="category"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content" class="mystations">
                  <!--ul data-role="listview" data-theme="a" id="monthsStationsList"></ul-->
                  <div class="monthslist"></div>
                  <div id="monthsStationsList"></div>
                </div>
              </div>
              <!-- STATION LISTING PAGE ENDS HERE -->

              <!--PLAN A TRIP PAGE STARTS HERE -->
              <div data-role="page" id="planatrip" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a href="#homepage" data-iconpos="notext" class="back-button"></a>
                  <h1 id="station_name2"></h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content" class="nopaddcontent" >

                  <a href="#planbymonth" class="nostyle"><div class="rightmenuitem Color-Teal">
                    <div class="menufonts">Plan By Months</div>
                  </div></a>

                  <div class="clear"></div>

                  <a href="#planbyattractions" class="nostyle"><div class="rightmenuitem Color-Green">
                    <div class="menufonts">Plan By Attractions</div>
                  </div></a>

                  <div class="clear"></div>

                  <a href="#nearestgateway" class="nostyle"><div class="rightmenuitem Color-Red">
                    <div class="menufonts">Plan By Nearest Getaway</div>
                  </div></a>

                  <div class="clear"></div>

                  <a href="#planbytime" class="nostyle"><div class="rightmenuitem Color-Orange">
                    <div class="menufonts">Plan By Time</div>
                  </div></a>

                  <div style="clear: all;"></div>

                  <a href="#planbyregions" class="nostyle"><div class="rightmenuitem Color-Blue">
                    <div class="menufonts">Plan By Region</div>
                  </div></a>

                </div>
              </div>
              <!-- PLAN A TRIP PAGE ENDS HERE -->

              <!--PLAN BY ATTRACTIONS PAGE STARTS HERE -->
              <div data-role="page" id="planbyattractions" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a href="#planatrip" data-iconpos="notext" class="back-button"></a>
                  <h1>Plan By Attractions</h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div class="plba">
                    <div class="content">
                      <div class="controller">
                        <ul class="plba-menu" id="attractionsList">                              
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- PLAN BY ATTRACTIONS PAGE ENDS HERE -->


              <!--PLAN BY ATTRACTIONS PAGE STARTS HERE -->
              <div data-role="page" id="planbyregions" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a href="#planatrip" data-iconpos="notext" class="back-button"></a>
                  <h1>Plan By Region</h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">

                  <div class="controller">
                    <ul class="demdous-menu" id="religionsList">
                    </ul>
                  </div>

                </div>
              </div>
              <!-- PLAN BY ATTRACTIONS PAGE ENDS HERE -->

              <!--PLAN BY TIME PAGE STARTS HERE -->
              <div data-role="page" id="planbytime" class="backimg">
                <div data-role="header" data-position="fixed">
                  <a href="#planatrip" data-iconpos="notext" class="back-button"></a>
                  <h1>Plan By Time</h1>
                  <a href="#homepage" data-iconpos="notext" class="home-button"></a>
                </div>
                <div data-role="content">
                  <div style="height: 40px; top: 10px;">
                    <select name="time" data-theme="a" id="time">
                     <option value="0" selected>Select</option>
                     <option value="0|2">0 to 2 Hours</option>
                     <option value="2|4">2 to 4 Hours</option>
                     <option value="4|6">4 to 6 Hours</option>
                     <option value="6|20">More then 6 hours</option>
                   </select>
                 </div>
                 <div style="clear:both;">&nbsp;</div>
                 <div style="margin-top: 10px;">
                  <div id="pointup" class="pointup"></div>                  
                </div>
              </div>
            </div>
            <!-- PLAN BY TIME PAGE ENDS HERE -->

            <!--PLAN BY TIME PAGE STARTS HERE -->
            <div data-role="page" id="planbytimelist" class="backimg">
              <div data-role="header" data-position="fixed">
                <a href="#planbytime" data-iconpos="notext" class="back-button"></a>
                <h1 id="category"></h1>
                <a href="#homepage" data-iconpos="notext" class="home-button"></a>
              </div>
              <div data-role="content">              
                <div id="data">                  
                  <div class="stationtimelist"></div>
                  <div id="stationListTime"></div>
                </div>
              </div>
            </div>
            <!-- PLAN BY TIME PAGE ENDS HERE -->

            <div data-role="page" id="nearestgateway" class="backimg">
              <div data-role="header" data-position="fixed">
                <a href="#planatrip" data-iconpos="notext" class="back-button"></a>
                <h1>Plan By Nearest Getaway</h1>
                <a href="#homepage" data-iconpos="notext" class="home-button"></a>
              </div>
              <div data-role="content" class="mystations">
                <div style="height: 60px; top: 7px;">
                  <a href="#popupBasic" data-rel="popup" data-theme="a" data-role="button" data-icon="gear" data-iconpos="right">Settings</a>
                </div>

                <div id="data">
                  <!--ul data-role="listview" data-theme="a" id="stationListDistance"></ul-->
                  <div class="nearestStations"></div>
                  <div id="nearestStationsList"></div>
                </div>

                <div data-theme="a" id="popupBasic" data-role="popup" data-overlay-theme="a" data-position-to="origin">
                  <div style="padding:10px 20px;">
                    <label>Distance in kms</label>
                    <input type="number" data-theme="a" placeholder="distance" id="distance" name="distance">
                    <a id="set" href="#nearestgateway" data-theme="a" data-role="button" >Set</a>
                    <a id="updategps" href="#nearestgateway" data-theme="a" data-role="button" >Update Current Location</a>
                  </div>
                </div>
              </div>
            </div>

            <div data-role="page" id="showmap" class="backimg">
              <div data-role="header" data-position="fixed">
                <a href="#" data-rel="back" data-iconpos="notext" class="back-button"></a>
                <h1 id="station_name2"></h1>
                <a href="#homepage" data-iconpos="notext" class="home-button"></a>
              </div>
              <div data-role="content">
                <div id="setLocation" style="margin-bottom: 10px; background-color:#0D56A6; height: 50px; text-align: center; font-size: 1.3em; color: #FFFFFF; text-shadow: none; line-height:50px;">Set</div>
                <div id="locmap"></div>
              </div>
            </div>

            <div data-role="page" id="attractionsStationList" class="backimg">
              <div data-role="header" data-position="fixed">
                <a href="#planbyattractions" data-iconpos="notext" class="back-button"></a>
                <h1 id="category"></h1>
                <a href="#homepage" data-iconpos="notext" class="home-button"></a>
              </div>
              <div data-role="content" class="mystations">
                <div class="attractionslist"></div>
                <div id="attractionsDataList"></div>
              </div>
            </div>

            <div data-role="page" id="regionsStationList" class="backimg">
              <div data-role="header" data-position="fixed">
                <a href="#planbyregions" data-iconpos="notext" class="back-button"></a>
                <h1 id="category"></h1>
                <a href="#homepage" data-iconpos="notext" class="home-button"></a>
              </div>
              <div data-role="content" class="mystations">
                <div class="regionslist"></div>
                <div id="regionsDataList"></div>
              </div>
            </div>
          </body>
          <script>
            var _gaq = _gaq || [];

            $(document).ready(function(e) {
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-52377469-1', 'auto');
              ga('send', 'pageview');
            });

            $(document).on('pageshow', '[data-role=page]', function (event, ui) {
              try {
                if ($.mobile.activePage.attr("data-url")) {
                      ga('send', 'pageview', $.mobile.activePage.attr("data-url")); // remove quotes
                    } else {
                      ga('send', 'pageview');
                    }
                  } catch (err) {}
                });
          </script>          
          </html>